/* Top */
.top-page {
  background: black;

  color: white;
  text-align: center;
  padding: 100px 0;
  font-family: "Poppins", sans-serif;
}

.greeting-paragraph {
  margin: 0;
  font-weight: medium;
  font-size: 30px;
}
h1 {
  font-weight: medium;
  font-size: 52px;
}
h2 {
  font-size: 25px;
}
/* Middle */
.middle-page {
  background-image: url("/images/doodles-background.png");
  padding-bottom: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.project-title {
  text-align: center;
  font-size: 35px;
  color: white;
  padding-top: 20px;
  text-decoration: underline;
  font-weight: 700;
}
