:root {
  --yellow: #faca3f;
}

/* Top */

.top-page {
  background: black;
  color: #19517f;
  text-align: center;
  padding: 100px 0;
  font-family: "Space Mono", monospace;
}

.greeting-paragraph {
  margin: 0;
  font-weight: medium;
  font-size: 30px;
}
.robot {
  margin-top: 25px;
}

h1 {
  color: white;
  font-weight: medium;
  font-size: 52px;
  font-family: "Poppins", sans-serif;
}
h2 {
  font-size: 25px;
}
/* Middle */
.middle-page {
  background-image: url("/images/doodles-background.png");
  padding-bottom: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Space Mono", monospace;
  color: #e0e0df;
}
.project-title {
  display: block;
  margin: 0 auto;
  font-size: 35px;
  padding-bottom: 6px;
  border-bottom-style: solid;
  border-bottom-width: 3.5px;
  width: fit-content;
  border-color: var(--yellow);
  padding-top: 20px;
  margin-bottom: 150px;
}

.weatherphoto {
  width: 70%;
  height: auto;
  margin: 20px 0;
  padding: 10px;
  border-radius: 25px;
  background-color: #284495;
  position: relative;
  margin-left: 100px;
}
.launch {
  box-shadow: 8px 10px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  color: #faca3f;
  width: fit-content;
  display: block;
  margin: 0 auto;
  padding: 15px 35px;
}
.launch:hover {
  background: #faca3f;
  color: black;
}

.main-title {
  font-size: 30px;
  padding-bottom: 3px;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  width: fit-content;
  border-color: #ff78b4;
  margin: auto;
  margin-top: -15px;
  padding-top: 40px;
}
.paragraph-description {
  padding: 20px 0;
  font-size: 18px;
  text-align: center;
}

.personal-website {
  width: 80%;
  height: auto;
  display: block;
  margin: 0 auto;
  margin: 20px 0;
  padding: 10px;
  border-radius: 25px;
  background-color: #284495;
}

@media (max-width: 1000px) {
  .robot-column {
    display: none;
  }
  .image {
    display: none;
  }
  .project-title {
    margin-bottom: 25px;
  }
  p {
    margin: 10px 25px;
  }
}
